<?php
/**
 * PermissionsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CapLinked API v1.0
 *
 * Core information security endpoints for managing files/folders, users/groups, uploads/downloads, and more.
 *
 * OpenAPI spec version: 2017-05-23
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * PermissionsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PermissionsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return PermissionsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getPermissionsFoldersId
     *
     * List subfolder permissions
     *
     * @param int $id ID of folder (0 for root) (required)
     * @param int $workspace_id ID of workspace (required)
     * @param int $group_id ID of group (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\FolderList
     */
    public function getPermissionsFoldersId($id, $workspace_id, $group_id)
    {
        list($response) = $this->getPermissionsFoldersIdWithHttpInfo($id, $workspace_id, $group_id);
        return $response;
    }

    /**
     * Operation getPermissionsFoldersIdWithHttpInfo
     *
     * List subfolder permissions
     *
     * @param int $id ID of folder (0 for root) (required)
     * @param int $workspace_id ID of workspace (required)
     * @param int $group_id ID of group (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\FolderList, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPermissionsFoldersIdWithHttpInfo($id, $workspace_id, $group_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getPermissionsFoldersId');
        }
        // verify the required parameter 'workspace_id' is set
        if ($workspace_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $workspace_id when calling getPermissionsFoldersId');
        }
        // verify the required parameter 'group_id' is set
        if ($group_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $group_id when calling getPermissionsFoldersId');
        }
        // parse inputs
        $resourcePath = "/permissions/folders/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($workspace_id !== null) {
            $queryParams['workspace_id'] = $this->apiClient->getSerializer()->toQueryValue($workspace_id);
        }
        // query params
        if ($group_id !== null) {
            $queryParams['group_id'] = $this->apiClient->getSerializer()->toQueryValue($group_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FolderList',
                '/permissions/folders/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FolderList', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FolderList', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation putPermissionsFoldersId
     *
     * Update folder permissions
     *
     * @param int $id ID of folder (0 for root) (required)
     * @param int $workspace_id ID of workspace (required)
     * @param int $group_id ID of group (required)
     * @param string $verb Grant or revoke permission for folder (required)
     * @param string $folder_action Permission type for folder (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\FolderUpdate
     */
    public function putPermissionsFoldersId($id, $workspace_id, $group_id, $verb, $folder_action)
    {
        list($response) = $this->putPermissionsFoldersIdWithHttpInfo($id, $workspace_id, $group_id, $verb, $folder_action);
        return $response;
    }

    /**
     * Operation putPermissionsFoldersIdWithHttpInfo
     *
     * Update folder permissions
     *
     * @param int $id ID of folder (0 for root) (required)
     * @param int $workspace_id ID of workspace (required)
     * @param int $group_id ID of group (required)
     * @param string $verb Grant or revoke permission for folder (required)
     * @param string $folder_action Permission type for folder (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\FolderUpdate, HTTP status code, HTTP response headers (array of strings)
     */
    public function putPermissionsFoldersIdWithHttpInfo($id, $workspace_id, $group_id, $verb, $folder_action)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling putPermissionsFoldersId');
        }
        // verify the required parameter 'workspace_id' is set
        if ($workspace_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $workspace_id when calling putPermissionsFoldersId');
        }
        // verify the required parameter 'group_id' is set
        if ($group_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $group_id when calling putPermissionsFoldersId');
        }
        // verify the required parameter 'verb' is set
        if ($verb === null) {
            throw new \InvalidArgumentException('Missing the required parameter $verb when calling putPermissionsFoldersId');
        }
        // verify the required parameter 'folder_action' is set
        if ($folder_action === null) {
            throw new \InvalidArgumentException('Missing the required parameter $folder_action when calling putPermissionsFoldersId');
        }
        // parse inputs
        $resourcePath = "/permissions/folders/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // form params
        if ($workspace_id !== null) {
            $formParams['workspace_id'] = $this->apiClient->getSerializer()->toFormValue($workspace_id);
        }
        // form params
        if ($group_id !== null) {
            $formParams['group_id'] = $this->apiClient->getSerializer()->toFormValue($group_id);
        }
        // form params
        if ($verb !== null) {
            $formParams['verb'] = $this->apiClient->getSerializer()->toFormValue($verb);
        }
        // form params
        if ($folder_action !== null) {
            $formParams['folder_action'] = $this->apiClient->getSerializer()->toFormValue($folder_action);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FolderUpdate',
                '/permissions/folders/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FolderUpdate', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FolderUpdate', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
